* {
  font-family: 'Montserrat', sans-serif;
}
#Current-Weather {
  border-radius: 4px;
  background-color: rgba(99,174,255,0.76);
  display: inline-block;
  width: 100%;
  .header {
    height: 30px;
    display: block;
    border-radius: 4px;
    background-color: #8184f7;
    padding: 0 5px;
    h4 {
      margin: 5px 0;
      width: 50%;
      display: inline-block;
    }
    .location {
      text-align: left
    }
    .updated {
      text-align: right;
      span {
        cursor: pointer;
      }
    }
  }

  .body {
    display: table;
    margin: auto;
    text-align: center;
  }

}
.weather-section{
  display: inline-block;
  margin: 10px auto;
  width: 250px;
  section {
    display: inline-block;
    text-align: center;
    float: left;
    width: 33%
  }
  &.temperature{

    .temp {
      text-align: center;
      display: inline-block;
      float: left;
      width: 33%
    }
  }
  &.wind {
    width: 250px;

  }
  h4 {
    text-align: center;
  }

}